
  <!--about -->
  <div class="pb100">
  <div class="container">
      {% load staticfiles %}
       <div class="row  mt-100 relative box-shadow round-small cover" style="background:url({% static 'business/img/about2.jpg' %}) no-repeat center center;">
         <div class="col-md-6"></div>
         <!--Left side-->
            <div class="col-md-6 p30 bg-white round-small-top-bottom-right">
  
              <div class="row">
                <div class="col-md-9 col-md-offset-3">
                  <h4 class="fw600 up text-gray mb30 ">about us</h4>
                </div>
              </div>
            <!--Our services-->
            {% for inf in info %}
                <div class="row ptb30 border-top-dark">
                  <div class="col-md-3 center pt20 plr0">
                    <img src="{{ inf.image.url }}">
                  </div>
                  <div class="col-md-9">
                    <p class="text-gray fw600">{{ inf.title }}</p>
                    <p class="text-gray">{{ inf.body }}</p>
                  </div>
                </div>
                {% endfor %}
  
            </div>
          <!--right side-->
       </div>
  </div>
  </div>
  