<div class="col-md-6 p0">
    <div class=" p50 box-shadow bg-white">
       <h4 class="up text-left fw600 mt0">Not a member?</h4>
        <div class="form-elem">
           <input type="text" placeholder="Enter your email address" name="uname" required>
        </div>
        <div class="form-elem">
           <input type="text" placeholder="Enter username" name="uname" required>
        </div>
        <div class="form-elem">
           <input type="password" placeholder="Enter password" name="psw" required>
        </div>
        <div class="text-gray">
           <input type="checkbox" checked="checked" name="remember">&nbsp; I agree to the Terms and Condition
        </div><br>
        <div class="text-left">
           <div class="gray-btn ptb10 plr110  font-12  inline up text-white">Register</div>
        </div><br>
        <a href="index.html" class="text-gray">Go back to home</a>
    </div>
  </div>
 <div class="col-md-1"></div>
</div>
</div>
</div>