<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Classifieds mobile</title>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!--LinearIcons-->
    <link href="lib/linearicons/style.css" rel="stylesheet">

    <!--CSS Styles-->
    <link rel = "stylesheet" type = "text/css" href = "css/grid.css">
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">

    <!--jQuery-->
    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ngcordova.js"></script>

        <!--JS Scripts-->
        <script type = 'text/javascript' src = "js/scripts.js"></script>

      </head>
      <body ng-app="clas" ng-controller="comments">

        <!-- Top -->
  <div style="background-image: url(img/home1.jpg);" class="img-cover center relative">
    <div class="bg-grad absolute full op9"></div>

    <div class="row v-center">
      <div class="col-xs-3">
        <h3 class="text-white fw100 ptb10"><a onclick="window.history.back()"><i class="lnr lnr-chevron-left arrow_back"></i></a></h3>
      </div>
      <div class="col-xs-9">
        <div class="text-white row small">
          <a href="profile.html" class="col-xs-4 center">
            <i class="lnr lnr-text-align-right"></i><div class="center">Items</div>
          </a>
          <a href="profile_messages.html" class="col-xs-4 center">
            <i class="lnr lnr-bubble"></i><div class="center">Messages</div>
          </a>
          <div class="col-xs-4 center" ng-click="signout()">
            <i class="lnr lnr-exit"></i><div class="center">Sign Out</div>
          </div>
        </div>
      </div>

    </div>
  </div>

          <!-- Chat -->
          <div class="mt30 p20 mb50">

            <div ng-show="comments" id="bottom">
              <div ng-repeat="com in comments">
                  <div class="p10">
                    <div class="v-center user_comment" ng-if="com.co_user == user_id">
                      <img src="https://randomuser.me/api/portraits/men/50.jpg" width="40" class="round box-shadow m5">
                      <p class="text-dark bg-gray p10 round-lrr mr10 yes_user_comment">{{com.co_comment}}<span class="comment-user">{{com.u_username}}</span></p>
                    </div>
                    <div class="v-center-end user_comment" ng-if="com.co_user != user_id">
                      <p class="text-white bg-blue p10 round-lrl ml10 no_user_comment">{{com.co_comment}}<span class="comment-user">{{com.u_username}}</span></p>
                      <img src="https://randomuser.me/api/portraits/men/50.jpg" width="40" class="round box-shadow m5">
                    </div>
                  </div>
                </div>
              </div>

              <div ng-show="!comments">
                No comments here.
                </div>

          </div><!-- Chat -->

          <!-- Reply -->
          <div class="full-width fixed-bottom row v-center bg-white center ptb10 border-top">

            <div class="col-xs-10">
              <input type="text"  placeholder="Reply..." ng-model="message" class="pl20 text-left fw500 bg-gray text-dark round ptb10">
            </div>

            <div class="col-xs-2" ng-click="sendMessage(message)">
              <img src="https://png.icons8.com/metro/30/23b4d5/sent.png">
            </div>
          </div>

      </body>

</html>
