<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Classifieds mobile</title>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!--CSS Styles-->
    <link rel = "stylesheet" type = "text/css" href = "css/grid.css">
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">

    <!--jQuery-->
    <script src="js/jquery.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/ngcordova.js"></script>

        <!--JS Scripts-->
        <script type = 'text/javascript' src = "js/scripts.js"></script>

      </head>
      <body>

        <!--Header-->
          <div class="header bg-grad">

              <a onclick="window.history.back()"><i class="material-icons arrow_back">keyboard_arrow_left</i></a>

              <div class="top-right">
                <a href="profile.html" ng-if="user !== 'null'"><i class="material-icons">account_circle</i></a>
                <a href="login.html" ng-if="user == 'null'" class="mlr10"><i class="material-icons">exit_to_app</i></a>
                <a class="" href="search.html"><i class="material-icons">search</i></a>
            </div>

          </div><!--Header-->

          <div class="mt40 p10 bg-gray">
            <h3 class="ptb10">Online Friends (21)</h3>
            <div class="center pb10">
              <img src="https://randomuser.me/api/portraits/men/21.jpg" width="45" class="round border-green">
              <img src="https://randomuser.me/api/portraits/men/22.jpg" width="45" class="round border-green mlr10">
              <img src="https://randomuser.me/api/portraits/men/23.jpg" width="45" class="round border-green ">
              <img src="https://randomuser.me/api/portraits/men/24.jpg" width="45" class="round border-green mlr10">
              <img src="https://randomuser.me/api/portraits/men/25.jpg" width="45" class="round border-green ">
            </div>
          </div>

        <!-- Ads -->
        <div class="p10">
          <h4 class="pb10">Inbox (19)</h4>

            <div class="round-small avatar p10">
              <a href="profile.html" class="v-center">
                <img src="https://randomuser.me/api/portraits/men/56.jpg" width="40" class="round">
                <div>
                  <h5 class="fw700">Jamie Martini <span class="f-right fw100 text-blue">2h ago</span></h5>
                  <p class="small text-light pt5">Hi, I am from New York and I am interested...</p>
                </div>
              </a>
            </div>

            <div class="round-small avatar p10 mtb10 border-top">
              <a href="profile.html" class="v-center">
                <img src="https://randomuser.me/api/portraits/men/83.jpg" width="40" class="round">
                <div>
                  <h5 class="fw700">Jamie Martini <span class="f-right fw100 text-blue">2h ago</span></h5>
                  <p class="small text-light pt5">Hi, I am from New York and I am interested...</p>
                </div>
              </a>
            </div>

            <div class="round-small avatar p10 border-top">
              <a href="profile.html" class="v-center">
                <img src="https://randomuser.me/api/portraits/men/52.jpg" width="40" class="round">
                <div>
                  <h5 class="fw700">Jamie Martini <span class="f-right fw100 text-blue">2h ago</span></h5>
                  <p class="small text-light pt5">Hi, I am from New York and I am interested...</p>
                </div>
              </a>
            </div>

            <div class="round-small avatar p10 mtb10 border-top">
              <a href="profile.html" class="v-center">
                <img src="https://randomuser.me/api/portraits/men/5.jpg" width="40" class="round">
                <div>
                  <h5 class="fw700">Jamie Martini <span class="f-right fw100 text-blue">2h ago</span></h5>
                  <p class="small text-light pt5">Hi, I am from New York and I am interested...</p>
                </div>
              </a>
            </div>

            <div class="round-small avatar p10 border-top">
              <a href="profile.html" class="v-center">
                <img src="https://randomuser.me/api/portraits/men/58.jpg" width="40" class="round">
                <div>
                  <h5 class="fw700">Jamie Martini <span class="f-right fw100 text-blue">2h ago</span></h5>
                  <p class="small text-light pt5">Hi, I am from New York and I am interested...</p>
                </div>
              </a>
            </div>

            <div class="round-small avatar p10 mtb10 border-top">
              <a href="profile.html" class="v-center">
                <img src="https://randomuser.me/api/portraits/men/59.jpg" width="40" class="round">
                <div>
                  <h5 class="fw700">Jamie Martini <span class="f-right fw100 text-blue">2h ago</span></h5>
                  <p class="small text-light pt5">Hi, I am from New York and I am interested...</p>
                </div>
              </a>
            </div>

            <div class="round-small avatar p10 border-top">
              <a href="profile.html" class="v-center">
                <img src="https://randomuser.me/api/portraits/men/57.jpg" width="40" class="round">
                <div>
                  <h5 class="fw700">Jamie Martini <span class="f-right fw100 text-blue">2h ago</span></h5>
                  <p class="small text-light pt5">Hi, I am from New York and I am interested...</p>
                </div>
              </a>
            </div>

        </div>

</body>

</html>
